.body {
    background: linear-gradient(45deg, #a2d2ca 0%,#496269 29%,#4f4c4f 66%,#59382b 100%);
    background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	/* min-height: calc(100vh - 2rem); */
	/* height: 150px !important; */
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	overflow: hidden;
	position: relative; 
    min-height: 100vh;
}

.body::before, 
.body::after {
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 30% 30%;
	pointer-events: none; 
}
	
.body::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 10% 10%; 
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}

.w25{
	width: 300px;
}

.mainHead{
	font-family: 'Merriweather', serif;
}
.body1{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about{
	margin-left: 50%;
}

@media screen and (max-width: 685px) {
	.mainHead{
		font-size: 160%
	}
	.about{
		margin-left: 30%;
	}
}

.menuO{
	border: 2px solid white;
	color: white;
	text-decoration: none;
	font-size: 20px;
	border-radius: 30px;
	padding: 10px;
	width: 150px;
	text-align: center;
}

@media screen and (max-width: 500px) {
	.menuG{
		flex-direction: column !important;
		align-items: center;
	}
}