#shorts{
    font-family: 'K2D', sans-serif;
}
.bg-p{
    background-color: rgb(217, 217, 217);
}
.mh100{
    min-height: 100vh;
}
.shortsImg{
    width: 300px !important;
    height: 300px !important;
    display: flex;
    align-items: center;
}